@import helpers


a, p, li
    font-family: $font-stack
    color: $primary-color

header
    height: 20vh
    padding: 10px
    display: flex
    justify-content: space-around
    align-items: center

    
    .logo
        padding: $default-pad
    
    nav
        ul
            padding: $default-pad
            li
                display: inline
            li::after
                content: ' / '
                padding: $default-pad
            a:hover
                color: $domain-color
    
    .top-right
        
        i
            border: solid 2px
            padding: $default-pad

i
    color: $domain-color

.filters
    padding-right: 6em
    float: right
    ul
        li
            display: inline
        li::after
            content: " | "
            padding: $default-pad
        li:hover
            color: $domain-color

.gallery
    display: flex
    flex-flow: column wrap
    height: 50vh
    width: 100wv

    .item
        flex: 1 1 auto
        
        p
        font-size: $small
        font-weight: bold
        color: $bg-color
        z-indez: 2
            
        img
            object-fit: cover
            height: 199px
            width: auto
            
    .item:nth-child(3n+0)
        img 
            height: 419px
    
    .item:nth-child(5), .item:nth-child(6)
        img 
            width: 199px
        
    //.item:nth-child(2), .item:nth-child(4)
        align-self: stretch

    //.item:nth-child(3), .item:nth-child(3), .item:nth-child(3)
        flex-shrink: 1  

    //.item:hover
        background-color: $domain-color
        z-index: 2
        opacity: 0.6

footer
    box-sizing: border-box
    display: flex
    width: 100vw
    height: 15wh
    padding: 2em 5em
    justify-content: space-between
    align-items: center
    
    .copyright
       
        p
            padding: $default-pad
    
    nav
        ul
            li
                
                display: inline
                padding: $default-pad
                i
                    padding: $default-pad
    